{% extends 'base.html.twig' %}

{% block title %}Movies - create{% endblock %}

{% block body %}
    <div class="example-wrapper" style="margin: 50px;">
        <form action="{{ path('movies_store') }}" method="POST" enctype="multipart/form-data">
            <input type="hidden" name="token" value="{{ csrf_token('store') }}"/>
            <div class="mb-3">
                <label for="title" class="form-label">{% trans %}form.labels.title{% endtrans %}</label>
                <input type="text" class="form-control" id="title" name="title">
                {% if errorMessages['title'] %}
                    <span class="text-danger">{{ errorMessages['title'] }}</span>
                {% endif %}
            </div>
            <div class="mb-3">
                <label for="category" class="form-label">{% trans %}form.labels.category{% endtrans %}</label>
                <select class="form-select" name="category" id="category">
                    {% for category in categories %}
                        <option value="{{ category.id }}">{{ category.title }}</option>
                    {% endfor %}
                </select>
                {% if errorMessages['category'] %}
                    <span class="text-danger">{{ errorMessages['category'] }}</span>
                {% endif %}
            </div>
            <div class="mb-3">
                <label for="description" class="form-label">{% trans %}form.labels.description{% endtrans %}</label>
                <textarea class="form-control" id="description" name="description"></textarea>
                {% if errorMessages['description'] %}
                    <span class="text-danger">{{ errorMessages['description'] }}</span>
                {% endif %}
            </div>
            <div class="mb-3">
                <label for="rating" class="form-label">{% trans %}form.labels.rating{% endtrans %}</label>
                <input type="number" class="form-control" id="rating" name="rating">
                {% if errorMessages['rating'] %}
                    <span class="text-danger">{{ errorMessages['rating'] }}</span>
                {% endif %}
            </div>
            <div class="mb-3">
                <label for="image" class="form-label">{% trans %}form.labels.image{% endtrans %}</label>
                <input type="file" class="form-control" id="image" name="image">
                {% if errorMessages['image'] %}
                    <span class="text-danger">{{ errorMessages['image'] }}</span>
                {% endif %}
            </div>
            <button type="submit" class="btn btn-primary">{% trans %}form.buttons.submit{% endtrans %}</button>
        </form>
    </div>
{% endblock %}
