{% extends 'base.html.twig' %}

{% block title %}Movies - list{% endblock %}

{% block body %}
<div class="container mt-2">
    <h1 class="text-center mb-3">{% trans into app.request.locale %} Movies {% endtrans %}</h1>
    {% if app.user %}
        {% if app.user.isAdmin() %}
            <a href="{{ path("movies_create") }}" class="btn btn-outline-dark mb-2">
                {% trans into app.request.locale %} Create {% endtrans %}
                {% trans into app.request.locale %} Movies {% endtrans %}
            </a>
        {% endif %}
    {% endif %}

    {% if movies|length > 0 %}
        {% for movie in movies %}
            <div class="row mb-3 align-items-center">
                <div class="col-6">
                    <a href="{{ path("movies_show", {id: movie.id}) }}" class="h3 text-decoration-none text-dark">{{ movie.title }}</a>
                    <span class="text-muted">Rating: {{ movie.rating }}</span>
                    <div>
                        {{ movie.description }}
                    </div>
                </div>
                <div class="col-6">
                    {% if movie.image %}
                        <img src="/uploads/images/{{ movie.image }}" height="180" width="320">
                    {% else %}
                        <img src="https://cdn.pixabay.com/photo/2017/06/05/07/58/butterfly-2373175_1280.png" height="180" width="320">
                    {% endif %}
                </div>
            </div>
        {% endfor %}
        <div class="d-flex">
            {% if previous >= 0 %}
                <div class="text-center mt-5">
                    <a href="{{ path('movies_list', { offset: previous }) }}" class="btn btn-outline-dark">
                        {% trans into app.request.locale %} Previous {% endtrans %}
                    </a>
                </div>
            {% endif %}
            {% if next < movies|length %}
                <div class="text-center mt-5 px-2">
                    <a href="{{ path('movies_list', { offset: next }) }}" class="btn btn-outline-dark">
                        {% trans into app.request.locale %} Next {% endtrans %}
                    </a>
                </div>
            {% endif %}
        </div>
    {% else %}
        <div class="alert alert-info mt-3">
            There are no movies yet!
        </div>
    {% endif %}
</div>
{% endblock %}
