{% extends 'base.html.twig' %}

{% block title %}Movies - list{% endblock %}

{% block body %}
<div class="container mt-2">
    <h1 class="text-center mb-3">Movies</h1>
    {% if app.user %}
        {% if app.user.isAdmin() %}
            <a href="{{ path("movies_create") }}" class="btn btn-outline-dark mb-2">Create movie</a>
        {% endif %}
    {% endif %}

    {% if movies|length > 0 %}
        {% for movie in movies %}
            <div class="row mb-3 align-items-center">
                <div class="col-6">
                    <a href="{{ path("movies_show", {id: movie.id}) }}" class="h3 text-decoration-none text-dark">{{ movie.title }}</a>
                    <span class="text-muted">Rating: {{ movie.rating }}</span>
                    <div>
                        {{ movie.description }}
                    </div>
                </div>
                <div class="col-6">
                    <img src="/uploads/images/{{ movie.image }}" height="180" width="320">
                </div>
            </div>
        {% endfor %}
    {% else %}
        <div class="alert alert-info mt-3">
            There are no movies yet!
        </div>
    {% endif %}
</div>
{% endblock %}
