{% extends 'base.html.twig' %}

{% block title %}{{ movie.title }}{% endblock %}

{% block body %}
<div class="container py-4">
    <h1 class="text-center">{{ movie.title }}</h1>
    <div class="text-center">
        {% if movie.image %}
            <img src="/uploads/images/{{ movie.image }}" height="400" width="600">
        {% else %}
            <img src="https://cdn.pixabay.com/photo/2017/06/05/07/58/butterfly-2373175_1280.png" height="400" width="600">
        {% endif %}
    </div>
    <div class="mt-4">
        {% if app.user %}
            {% if app.user.isAdmin() %}
                <a href="{{ path("movies_update", {movie: movie.id}) }}" class="h4 btn btn-outline-dark">
                    {{ 'buttons.update'|trans }}
                </a>
                <a href="{{ path("movies_delete", {movie: movie.id}) }}" class="h4 btn btn-outline-danger">
                    {{ 'buttons.delete'|trans }}
                </a>
                <br>
            {% endif %}
        {% endif %}
        <span class="text-muted">{{ 'titles.rating'|trans }}: {{ movie.rating }}</span>
    </div>
    <div class="mt-2">
        <h5 class="d-inline">{{ 'titles.actors'|trans }}:</h5>
        {% for actor in movie.actors %}
            <span>{{ actor.name }}</span>
        {% endfor %}
    </div>
    <div class="mt-2">
        <h5 class="d-inline">{{ 'titles.description'|trans }}:</h5>
        {{ movie.description }}
    </div>
    {% if app.user %}
        <div class="mt-2">
            <h5>{{ 'titles.comments'|trans }} ({{ movie.comments|length }}):</h5>
            {% for message in app.flashes('notice') %}
                <div class="flash-notice alert alert-info">
                    {{ message }}
                </div>
            {% endfor %}
            <div class="px-3 py-2">
                {% for comment in comments %}
                    <div class="mt-2 mb-2"><span class="fw-bold">{{ comment.author.name }}</span>: {{ comment.text }}</div>
                    <form action="{{ path("comments_delete", { movie: movie.id, comment: comment.id }) }}" method="post">
                        <input type="hidden" name="_method" value="DELETE">
                        <button class="h4 btn btn-outline-danger">{{ 'buttons.delete'|trans }}</button>
                    </form>
                {% endfor %}
                {% if previous >= 0 %}
                    <a href="{{ path('movies_show', { movie: movie.id, offset: previous }) }}" class="btn btn-outline-dark">
                        {{ 'buttons.previous'|trans }}
                    </a>
                {% endif %}
                {% if next < comments|length %}
                    <a href="{{ path('movies_show', { movie: movie.id, offset: next }) }}" class="btn btn-outline-dark">
                        {{ 'buttons.next'|trans }}
                    </a>
                {% endif %}
            </div>
            <form action="{{ path('comments_create', {movie: movie.id}) }}" method="POST" class="mt-4">
                <textarea name="text" placeholder="{{ 'form.placeholders.comments.write'|trans }}" cols="40" rows="5"></textarea>
                <button type="submit" class="btn btn-outline-dark d-block">{{ 'form.buttons.submit'|trans }}</button>
            </form>
        </div>
    {% else %}
        <div class="alert alert-info mt-2 text-center">
            {{ 'alerts.comment.writeAccess'|trans }} <a href="{{ path('app_login') }}">{{ 'links.login'|trans }}</a>
        </div>
    {% endif %}
</div>
{% endblock %}
