{% extends 'base.html.twig' %}

{% block title %}{{ movie.title }}{% endblock %}

{% block body %}
<div class="container">
    <h1 class="text-center">{{ movie.title }}</h1>
    <div class="text-center">
        <img src="/uploads/images/{{ movie.image }}" height="400" width="600">
    </div>
    <div class="mt-4">
        {% if app.user %}
            {% if app.user.isAdmin() %}
                <a href="{{ path("movies_update", {id: movie.id}) }}" class="h4 btn btn-outline-dark">
                    {% trans into app.request.locale %} Update {% endtrans %}
                </a>
                <a href="{{ path("movies_delete", {id: movie.id}) }}" class="h4 btn btn-outline-danger">
                    {% trans into app.request.locale %} Delete {% endtrans %}
                </a>
                <br>
            {% endif %}
        {% endif %}
        <span class="text-muted">Rating: {{ movie.rating }}</span>
    </div>
    <div class="mt-2">
        {{ movie.description }}
    </div>
</div>
{% endblock %}
