{% extends 'base.html.twig' %}

{% block title %}{% trans %}titles.register{% endtrans %}{% endblock %}

{% block body %}
<div class="container">
    <h1>{% trans %}titles.register{% endtrans %}</h1>

    {{ form_start(registrationForm) }}
        {{ form_row(registrationForm.name) }}
        {{ form_row(registrationForm.email) }}
        {{ form_row(registrationForm.plainPassword, {
            label: 'Password'
        }) }}
        {{ form_row(registrationForm.agreeTerms) }}

        <button type="submit" class="btn btn-outline-dark">{% trans %}form.buttons.register{% endtrans %}</button>
    {{ form_end(registrationForm) }}
</div>
{% endblock %}
