{% extends 'base.html.twig' %}

{% block title %}{{ 'titles.register'|trans }}{% endblock %}

{% block body %}
<div class="container">
    <h1>{{ 'titles.register'|trans }}</h1>

    {{ form_start(registrationForm) }}
        {{ form_row(registrationForm.name) }}
        {{ form_row(registrationForm.email) }}
        {{ form_row(registrationForm.plainPassword, {
            label: 'Password'
        }) }}
        {{ form_row(registrationForm.agreeTerms) }}

        <a href="{{ path('app_login') }}" class="d-block">{{ 'links.login'|trans }}</a>
        <button type="submit" class="btn btn-outline-dark mt-2">{{ 'form.buttons.register'|trans }}</button>
    {{ form_end(registrationForm) }}
</div>
{% endblock %}
